*{
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
body {
    background-color: #f4f4f4;
    margin: 0 auto;
    line-height: 1.4;
}
.header {
  display: flex;
  flex-direction: row;
  background:#a9a0e8;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.appName {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.appName li a {
  padding-left: 20px;
  color: white;
}
.profileName {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  font-size: 14px;
  color: white;
}
.profileName li a {
  padding-right: 20px;
}
.bell-icon {
  width: 15px;
  height: 15px;
  padding-right: 5px;
}
.profile-icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.nav-container {
  display: flex;
  height: 55px;
  align-items: center;
  background:#363676;
}
.nav-items {
  display: flex;
  flex-direction: row;
}
.nav-items li {
  padding-left: 20px;
}
.icon-svg {
  display: grid;
    height: 20px;
    width: 20px;
    padding: 10px;
}
.main-title {
  align-items: center;
  margin-top: 10px;
}
.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr;
}
.dashboard-container {
  display: flex;
  flex-direction: row;

}
.searchBar {
  display:flex;
  align-items: flex-end;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .nav-items {
    flex-direction: column;
  }
  .nav-container {
    display: block;
  }
}
